#mainNav {
    background-color: forestgreen !important;
}
#mainFooter {
    background-color: forestgreen !important;
}
#secondaryFooter {
    background-color: green !important;
}
.dropdown-toggle {
    background-color: green;
}