
@*<section class="bg-primary text-white mb-0" id="about">
    <div class="container">
        <h2 class="text-center text-uppercase text-white">About</h2>
        <hr class="star-light mb-5">
        <div class="row">
            <div class="col-lg-4 ml-auto">
                <p class="lead">@Html.Sitecore().Field("Body")</p>
            </div>
            <div class="col-lg-4 mr-auto">
                <p class="lead"> </p>
            </div>
        </div>*@
        @*<div class="text-center mt-4">
            <a class="btn btn-xl btn-outline-light" href="#">
                <i class="fas fa-download mr-2"></i>
                Download Now!
            </a>
        </div>*@
    @*</div>
</section>*@
<header class="masthead" style="height: 700px">
    <div class="container text-center">
        <h2 class="text-center text-uppercase text-secondary mb-0">About</h2>
        <hr class="star-dark mb-5">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <p class="mb-5">@Html.Sitecore().Field("Body")</p>
            </div>
        </div>
    </div>
</header>
