<header class="masthead" style="height: 700px">
    <div class="container text-center">
        <div class="row">
            <h1>@Html.Sitecore().Field("Title", Sitecore.Context.Item)</h1><br />
        </div>
        <div class="row">
            <h4>@Html.Sitecore().Field("Text", Sitecore.Context.Item)</h4>
        </div>
    </div>
</header>