<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/" xmlns:search="http://www.sitecore.net/xmlconfig/search/">
    <sitecore role:require="Standalone or ContentDelivery or ContentManagement" search:require="lucene">
        <contentSearch>
            <indexConfigurations>
                <newCustomIndexConfiguration ref="contentSearch/indexConfigurations/defaultLuceneIndexConfiguration">
                  <fieldMap type="Sitecore.ContentSearch.LuceneProvider.LuceneFieldMap, Sitecore.ContentSearch.LuceneProvider">
                    <fieldNames hint="raw:AddFieldByFieldName">
                      <field fieldName="name" storageType="YES" indexType="TOKENIZED" vectorType="NO" boost="1f" returnType="string" settingType="Sitecore.ContentSearch.LuceneProvider.LuceneSearchFieldConfiguration, Sitecore.ContentSearch.LuceneProvider">
                        <analyzer type="Sitecore.ContentSearch.LuceneProvider.Analyzers.LowerCaseKeywordAnalyzer, Sitecore.ContentSearch.LuceneProvider" />
                      </field>
                      <field fieldName="description" storageType="YES" indexType="UNTOKENIZED" vectorType="NO" boost="1f" returnType="string" settingType="Sitecore.ContentSearch.LuceneProvider.LuceneSearchFieldConfiguration, Sitecore.ContentSearch.LuceneProvider">
                        <analyzer type="Sitecore.ContentSearch.LuceneProvider.Analyzers.LowerCaseKeywordAnalyzer, Sitecore.ContentSearch.LuceneProvider" />
                      </field>
                      <field fieldName="category" storageType="YES" indexType="UNTOKENIZED" vectorType="NO" boost="1f" returnType="string" settingType="Sitecore.ContentSearch.LuceneProvider.LuceneSearchFieldConfiguration, Sitecore.ContentSearch.LuceneProvider">
                        <analyzer type="Sitecore.ContentSearch.LuceneProvider.Analyzers.LowerCaseKeywordAnalyzer, Sitecore.ContentSearch.LuceneProvider" />
                      </field>
                    </fieldNames>
                  </fieldMap>
                  <documentOptions type="Sitecore.ContentSearch.LuceneProvider.LuceneDocumentBuilderOptions, Sitecore.ContentSearch.LuceneProvider">
                    <IndexAllFields>false</IndexAllFields>
                    <exclude hint="list:AddExcludedTemplate">
                      <BucketFolderTemplateId>{62927BE4-D191-43D1-90AC-1667074754B2}</BucketFolderTemplateId>
                    </exclude>
                    <include hint="list:AddIncludedTemplate">
                      <BucketFolderTemplateId>{9CFBBC63-AF0B-49B4-AE26-F096A351E7B4}</BucketFolderTemplateId>
                    </include>
                    <include hint="list:AddIncludedField">
                      <!--Project name-->
                      <fieldId>{CCA72E9C-E385-413F-8688-5BDA98A4C60B}</fieldId>
                      <!--Project description-->
                      <fieldId>{72C439DE-C121-4918-A23E-C078C88673E3}</fieldId>
                      <!--Project category-->
                      <fieldId>{711925A2-0A05-4412-BBA8-8BE09B803123}</fieldId>
                      <!--Project tags-->
                      <fieldId>{EFD389D7-B6F9-4D40-B9D9-063BC1C0B056}</fieldId>
                      <!--Project image-->
                      <fieldId>{0B1484CE-CFA9-43DB-B6D4-52C8E430C7A2}</fieldId>
                    </include>
                    <fields hint="raw:AddComputedIndexField">
                      <field fieldName="tags" returnType="stringCollection" storageType="YES" indexType="TOKENIZED" >Portfolio.Site.ContentSearch.Fields.TagsComputedField, Portfolio.Site</field>
                    </fields>
                    <fields hint="raw:AddComputedIndexField">
                      <field fieldName="imageUrl" returnType="string" storageType="YES" indexType="UNTOKENIZED" >Portfolio.Site.ContentSearch.Fields.ProjectImageComputedField, Portfolio.Site</field>
                    </fields>
                    <fields hint="raw:AddComputedIndexField">
                      <field fieldName="itemUrl" returnType="string" storageType="YES" indexType="TOKENIZED" >Portfolio.Site.ContentSearch.Fields.ProjectUrlComputedField, Portfolio.Site</field>
                    </fields>
                  </documentOptions>
                </newCustomIndexConfiguration>
            </indexConfigurations>
        </contentSearch>
    </sitecore>
</configuration>
