<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/" xmlns:search="http://www.sitecore.net/xmlconfig/search/">
    <sitecore role:require="Standalone or ContentDelivery or ContentManagement" search:require="lucene">
        <contentSearch>
            <indexConfigurations>
                <customIndexConfiguration ref="contentSearch/indexConfigurations/defaultLuceneIndexConfiguration">
                  <fieldMap type="Sitecore.ContentSearch.LuceneProvider.LuceneFieldMap, Sitecore.ContentSearch.LuceneProvider">
                    <fieldNames hint="raw:AddFieldByFieldName">
                      <field fieldName="name" storageType="YES" indexType="TOKENIZED" vectorType="NO" boost="1f" returnType="string" settingType="Sitecore.ContentSearch.LuceneProvider.LuceneSearchFieldConfiguration, Sitecore.ContentSearch.LuceneProvider">
                        <analyzer type="Sitecore.ContentSearch.LuceneProvider.Analyzers.LowerCaseKeywordAnalyzer, Sitecore.ContentSearch.LuceneProvider" />
                      </field>
                      <field fieldName="description" storageType="YES" indexType="UNTOKENIZED" vectorType="NO" boost="1f" returnType="string" settingType="Sitecore.ContentSearch.LuceneProvider.LuceneSearchFieldConfiguration, Sitecore.ContentSearch.LuceneProvider">
                        <analyzer type="Sitecore.ContentSearch.LuceneProvider.Analyzers.LowerCaseKeywordAnalyzer, Sitecore.ContentSearch.LuceneProvider" />
                      </field>
                      <field fieldName="category" storageType="YES" indexType="UNTOKENIZED" vectorType="NO" boost="1f" returnType="string" settingType="Sitecore.ContentSearch.LuceneProvider.LuceneSearchFieldConfiguration, Sitecore.ContentSearch.LuceneProvider">
                        <analyzer type="Sitecore.ContentSearch.LuceneProvider.Analyzers.LowerCaseKeywordAnalyzer, Sitecore.ContentSearch.LuceneProvider" />
                      </field>
                    </fieldNames>
                  </fieldMap>
                  <documentOptions type="Sitecore.ContentSearch.LuceneProvider.LuceneDocumentBuilderOptions, Sitecore.ContentSearch.LuceneProvider">
                    <IndexAllFields>false</IndexAllFields>
                    <exclude hint="list:AddExcludedTemplate">
                      <BucketFolderTemplateId>{E6887893-E711-40BF-993C-23A73B0024C5}</BucketFolderTemplateId>
                    </exclude>
                    <include hint="list:AddIncludedTemplate">
                      <BucketFolderTemplateId>{2815263A-4FD8-4F25-8207-6B7556698E1E}</BucketFolderTemplateId>
                    </include>
                    <include hint="list:AddIncludedField">
                      <!--Project name-->
                      <fieldId>{A7248904-B3E5-45A2-B4D3-A71F0081EF47}</fieldId>
                      <!--Project description-->
                      <fieldId>{67010BE4-8BC7-466B-A797-94E9EBD5D459}</fieldId>
                      <!--Project category-->
                      <fieldId>{1E3A745B-3FD5-4BFD-A288-ED9B7F6B6520}</fieldId>
                      <!--Project tags-->
                      <fieldId>{61B2E68B-0FEB-4754-A921-BD35EE4EBE8F}</fieldId>
                      <!--Project image-->
                      <fieldId>{BDF7C376-3EF6-4CAA-AF61-EEDC211EC8C6}</fieldId>
                    </include>
                    <fields hint="raw:AddComputedIndexField">
                      <field fieldName="tags" returnType="stringCollection" storageType="YES" indexType="TOKENIZED" >Portfolio.Site.ContentSearch.Fields.TagsComputedField, Portfolio.Site</field>
                    </fields>
                    <fields hint="raw:AddComputedIndexField">
                      <field fieldName="imageUrl" returnType="string" storageType="YES" indexType="UNTOKENIZED" >Portfolio.Site.ContentSearch.Fields.ProjectImageComputedField, Portfolio.Site</field>
                    </fields>
                    <fields hint="raw:AddComputedIndexField">
                      <field fieldName="itemUrl" returnType="string" storageType="YES" indexType="TOKENIZED" >Portfolio.Site.ContentSearch.Fields.ProjectUrlComputedField, Portfolio.Site</field>
                    </fields>
                  </documentOptions>
                </customIndexConfiguration>
            </indexConfigurations>
        </contentSearch>
    </sitecore>
</configuration>
