<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <httpRequestBegin>
        <processor type="Portfolio.Site.Pipelines.PageNotFoundResolver, Portfolio.Site" resolve="true" patch:after="processor[@type='Sitecore.Pipelines.HttpRequest.ItemResolver, Sitecore.Kernel']"/>
      </httpRequestBegin>
      <httpRequestProcessed>
        <processor type="Portfolio.Site.Pipelines.Set404Status,Portfolio.Site" />
      </httpRequestProcessed>
    </pipelines>
    <events>
      <event name="item:saved">
        <handler type="Portfolio.Site.Handlers.OnCreateNewProjectEventHandler, Portfolio.Site" method="OnCreateNewProject"></handler>
      </event>
    </events>
    <services>
      <configurator type="Portfolio.Site.Infrastructure.Configurator, Portfolio.Site" />
    </services>
    <linkManager>
      <providers>
        <add name="sitecore">
          <!--<patch:attribute name="languageEmbedding">never</patch:attribute>-->
        </add>
      </providers>
    </linkManager>
    <settings>
      <setting name="Media.RequestExtension">
        <patch:attribute name="value"></patch:attribute>
      </setting>
    </settings>
    <sites>
      <site name="reply.demo.local" enforceVersionPresence="true" dictionaryDomain="{C38116CB-A8BD-4617-B8FC-8523AC29ADE8}" inherits="website" patch:before="site[@name='website']" rootPath="/sitecore/content/Portfolio" hostName="reply.demo.local" >
        <patch:attribute name="enableItemLanguageFallback">true</patch:attribute>
        <patch:attribute name="enableFieldLanguageFallback">true</patch:attribute>
      </site>
      <site name="new.site.local" enforceVersionPresence="true" dictionaryDomain="{A130DF47-C838-4F58-A5ED-B3A467AB5D59}" inherits="website" patch:before="site[@name='reply.demo.local']" rootPath="/sitecore/content/New Site" hostName="new.site.local" >
        <patch:attribute name="enableItemLanguageFallback">true</patch:attribute>
        <patch:attribute name="enableFieldLanguageFallback">true</patch:attribute>
      </site>
    </sites>
  </sitecore>
</configuration>